* {
  margin: 0;
}
body {
  background-color: rgb(15, 15, 12);
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}
a {
  text-align: center;
  margin: 25px 5px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  border: 1px solid black;
  background-color: rgb(180, 178, 178);
  padding: 6px;
  width: 250px;
  border-radius: 5px;
  color: black;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  height: 60vh;
}
.banner {
  font-size: 40px;
  color: white;
}
#clock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  height: 70px;
  width: 35%;
  margin: 20px;
  border-radius: 10px;
  font-size: 38px;
  color: white;
}
