body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: #faf5f5;
}

/* --NAVBAR SECTION-- */

#navbar {
  background: #333;
  padding: 20px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

#navbar:hover {
  background: #555;
}

#logo img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  border-radius: 15%;
  box-shadow: 4px 4px 10px rgba(184, 161, 161, 0.9);
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.item {
  /* list-style: none; */
  margin-right: 20px;
}

.item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
  padding: 10px 15px;
  border-radius: 15px;
  border: 2px solid transparent;
  display: inline-block;
}

.item a:hover {
  color: #3498db;
  background-color: white;
  border-color: #3498db;
}

/* --HOME SECTION-- */

#home {
  text-align: center;
  padding: 120px 0;
  margin-top: 80px;
}

#home h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 10px;
}

#home p {
  font-size: 20px;
  color: #555;
  margin-bottom: 30px;
}

#Order_btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#Order_btn:hover {
  background-color: #2980b9;
  color: white;
}

/* --SEVICES SECTION-- */

#services-container {
  background: #fff;
  padding: 50px 0;
}

.h-primary {
  font-size: 50px;
  color: #333;
  margin-bottom: 30px;
}

#services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  width: calc(33.33% - 40px);
  margin: 20px 0;
  padding: 20px;
  background: #f9f9f9;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s;
}

.box:hover {
  transform: translateY(-10px);
}

.box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.h-secondary {
  font-size: 24px;
  color: #333;
  margin-top: 15px;
}

.center {
  text-align: center;
}

/* --CLIENT SECTION-- */

#clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.client-item img {
  width: 80px;
  height: 80px;
  margin: 10px 0;
  /* border-radius: 50%; */
}

#client-section {
  background: #f5f5f5;
  padding: 50px 0;
}

.client-item {
  margin: 15px;
}

/* --CONTACT SECTION-- */

#contact {
  background: #e0e0e0;
  padding: 50px 0;
}

#contact-box {
  background: white;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  flex: 0 0 48%;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

input[type="submit"]:hover {
  background-color: #2980b9;
  color: white;
}

footer {
  background: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

#navbar #menu-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

#navbar #menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: background-color 0.3s;
}

@media only screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  ul {
    margin-top: 10px;
    display: none;
  }

  .item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #navbar #menu-icon {
    display: block;
  }

  #services {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin: 20px 0;
  }

  #contact-box {
    width: 100%;
  }

  .client-item img {
    width: 30px;
    height: 30px;
    margin: 5px 0;
  }
}
